node_modules/
build/
.env
*.log
client/node_modules/
client/build/
offchain/node_modules/
offchain/*.sqlite
offchain/*.db
benchmarks/**/node_modules/
benchmarks/**/report.html
benchmarks/caliper/results/
